<!DOCTYPE html>
<html lang="en">
   <head>
      <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
      <meta httpEquiv="Content-type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="plagiarism remover, text replacer, alternative words finder" />
      <meta name="description" content="Plagiarism Remover will replace & rephrase the sentence. Just provide paragraph as an input." />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Plagiarism Remover</title>
      <style>
         .body {background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);}
         div.editable {
         width: 300px;
         height: 500px;
         border: 1px solid #ccc;
         padding: 5px;
         }
         .card {
         margin: auto; 
         float: none; 
         margin-bottom: 10px; 
         margin-top: 20px;
         border: none;
         padding: 0px 10px;
         }
         strong {
         font-weight: bold;
         }
      </style>
   </head>
   <body>
      <div class="card" style="width: 100%">
         <h1 itemprop="headline">Plagiarism Remover(<em  style=color:#00BFFF;">beta</em>)</h1>
         <p><em>Note: This project is still under work, the results may differ from expected, use only for the testing. If you have something to contribute send a pull request <a href="https://www.github.com/virajmane">here</a>. Use a paragraph for better results.</em></p>
         <form method=post>
            <div class="form-group">
               <label for="exampleFormControlTextarea1">Enter Original Text:</label>
               <textarea class="form-control" rows="9" type="text" id="fname" name="fname" value={{txt1}}></textarea>
            </div>
            <input class="btn btn-primary btn-sm mr-md-3 mb-2 mb-md-0" type="submit" value="Submit">
            <input type="button" class="btn btn-primary btn-sm mr-md-3 mb-2 mb-md-0" value="Random Text" id="button" />
         </form>
         {% if txt2 %}
         <br><br>
         <label for="exampleFormControlTextarea1">Converted Text:</label>
         <div contenteditable="true" style="height: 300px;">
            {{ txt2  | safe }}
         </div>
         {% endif %}
      </div>
      <script type="text/javascript">// <![CDATA[
         function loading(){
             $("#loading").show();
             $("#content").hide();       
         }
         // ]]>
      </script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script>
         $(function () {
         $('#button').on('click', function () {
             var text = $('#fname');
             text.val("Learn to ship software like a pro. There's no substitute for hands-on experience. But for most students, real world tools can be cost-prohibitive. That's why we created the GitHub Student Developer Pack with some of our partners and friends.");    
         });
         });
      </script>
   </body>
</html>